
@{
    ViewBag.Title = "GetInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetInfo</h1>
@using(Html.BeginForm())
{
    <input type="text" name="TEN" />
;
    <input type="text" name="TUOI" />
;
    <input type="text" name="LOP" />
;
    <input type="submit" value="Hiển thị thông tin" ; />
    
}
<h1> Thông Tin</h1>
<h2>
    Họ và tên :@ViewBag.TEN<br />
    Tuổi:@ViewBag.TUOI<br />
    Lớp :@ViewBag.LOP <br />
</h2>


