
@{
    ViewBag.Title = "hienthi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1> Thông Tin</h1>
<h2>
    Họ và tên :@ViewBag.TEN<br />
    Tuổi:@ViewBag.TUOI<br />
    Lớp :@ViewBag.LOP <br />
</h2>
